body {
    padding:0px;
    height:100%;
    margin:0px;
    width:100%;
    background-color:#EBF3FF;
    
}

#main {
    width:1000px;
    height:auto;
    margin:0 auto !important;
    height:100%;
    display:block;
    
   
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
#header {
   height:165px;
   width:1000px;
   position:relative;
   background-color:#FFFFFF;
   float:left;
   
   
}

#content {
    
    float:left;
    height:auto;
    width:1000px;
    position:relative;
    float:left;

    margin-top: 5px;
    margin-bottom:5px;
}



#footer {
    float:left;
    width:1000px;
    height:220px;
    float:left;
    position:relative;
    margin:0 auto;
    background-color:#FFFFFF;  
}
#main_content {
    width:755px;
    height:500px;
    margin:3px;
    position:relative;
    float:left;
    left:0px;
}


#up_bar {
    
    width:1000px;
    height:30px;
    margin-left:0px;
    margin:0 auto;
    z-index:7;
    
}
#up_bar_bg {
    float:left;  
    width:100%;
    height:30px;
    position:absolute;
    
    background-image:url("#{resource['images/up_bar_bg.png']}");
    z-index:5;
}

#icon {
    width:125px;
    height:125px;
    float:left;
    margin:5px;
    background-color:blue;
}

#search {
    width:485px;
    height:30px;
    float:left;
    margin-top:45px;
    margin-left:75px;
    
}

#commerce_basket {
    width:200px;
    height:90px;
    float:right;
    
    margin-top:30px;
    margin-right:10px;
}

#menu {
    width:1000px;
    height:30px;
    float:left;   
    background-color:cyan;
    position:absolute;
    bottom:0px;
    z-index:5;
    background-image:url("#{resource['images/menubg.png']}");
    
}

#menu ul {
    list-style-type:none;
    padding:0px;
    margin:0px;
}

#menu ul li {
    width:150px;
    height:30px;
    float:left;
    text-align:center;
    line-height:30px;
    border:0px;
    border-right-width:2px;
    
    border-style: solid;
    border-color:blanchedalmond;
    
}
#menu ul li ul  {
    display:none;
    
}
#menu ul li ul li {
    background-image:none;
    width:300px;
    height:90px;
    border-width:1px;
    border-style: solid;
    border-color:grey;
    
    
}
#menu ul li ul li:hover {
    background-image:none;
  
    
    
}

#menu ul li a {
    text-decoration:none;
    font-weight:650;
    font-family:Arial;
    font-size:15px;
    color:cornsilk;
}
#menu ul li:hover {
    cursor:pointer;
     background-image:url("#{resource['images/menubg_overd.png']}");
}

#menu ul li:hover ul {
    display:block;
    
}

.search_field {
    width:450px;
    height:23px;
    border-radius:5px;
    padding:1px;
    background-color:#F5F5DC;
    float:left;
}
.search_icon{
    line-height: 30px;
    float:left; 
    border-width:1px;
    border-style:solid;
    border-color:#D3D3D3;
    margin-left:2px;
    margin-top:1px;
}

.cart_text{
     background-image:url("#{resource['images/cartbg.png']}");
    color:#FFFFFF;
    height:30px;
    width:110px;
    border-radius:5px;
    cursor:pointer;
    float:left;
    margin-left:3px;
    margin-top:12px;
   
   
    
}

.cart_text:hover {
     background-image:url("#{resource['images/cartbgover.png']}");
    
    
}

#up_bar li {
    margin-right:7px; 
    line-height:30px;
    border-style:ridge;
    border-width:0px;
    border-right-width:1px;
    z-index:8;
    position:relative;
}

#up_bar li a {
    text-decoration:none;
    color:#FFFFFF;
    margin-right:3px;
    z-index:25;
}

#navigator {
    height:30px;
    position:absolute;
    top:0px;
    width:960px;
    padding-left:20px;
    padding-right:20px;
    padding-top:8px;
}

#campaign {
    width:750px;
    height:300px;
    float:left;
    margin-left:10px;
    position:relative;
}
.campaign_image_handler{
    background-color:gray;
    opacity:0.4;
}

.campaign_image_handler:hover {
    opacity:0.7;
    
}
#right_side {
    position:relative;;
    
    width:218px;
    height:auto;
    
    float:right;
    margin-bottom:30px;
    margin-top:10px;
}

#daily_opp {
    width:216px;
    height:300px;
    float:left;   
    border-color:#DCDCDC;
    border-width:1px;
    border-style:solid;
    list-style-type:none;
    text-align:center;
    margin-bottom: 10px;
    margin-right:10px;
     background-color:#FFFFFF;
    
}

.test:after{
       
     
    
}
.test:hover:after{
  
    width: 120%;
    
}

#daily_opp li a {
    color:#000000;
    font-size:17px;
    font-family: Fraktur;
    
}
#daily_opp li a:hover {
    text-decoration:underline;
}
#daily_opp li span {
    color:#B22222;
    
}
a {
    text-decoration:none;
    
}


#daily_opph1 {
    font-size:14px;
    font-family:Verdana;
    height:25px;
    width:100%;
    text-align:center;
     background-image:url("#{resource['images/cok_satanlar_bg.png']}");
    margin-top:0;
    line-height:25px;
    color:#FFF0F5;
    transition: all 1000ms cubic-bezier(0.005, 1.650, 1.000, -0.600);
    transition-timing-function: cubic-bezier(0.005, 1.650, 1.000, -0.600);
}



#daily_opp li {
    float:left;
    width:200px;
    height:30px;
}
#random_products{
    float:left;
    width:750px;
    background-color:#FFFFFF;
}
#random_products li{
   list-style-type:none; 
   float:left;
   width:145px;
    text-align:center;
    margin-bottom:10px;
    border-width:1px;
    border-color:#FFFFFF;
    border-style:solid;
    cursor:pointer;
}
#random_products li:hover{
    border-radius:1px;
    border-width:1px;
    border-color:#696969;
    border-style:solid;
}

#random_products li span{
    width:145px;
    float:left;
    text-align:center;
}
#random_products li span:hover{
    width:145px;
    float:left;
    text-align:center;
    text-decoration:underline;
}
#random_products li img{
    
   
}

#most_sell {
    width:215px;
    height:auto;
    float:left;
    background-color:#FFFFFF;
    list-style-type:none;
    margin-top:10px;
    
    border-style:solid;
    border-color:#DCDCDC;
    border-width:1px;
   
    
    
}
#most_sell h1 {
    font-size:14px;
    font-family:Verdana;
    height:25px;
    width:100%;
    text-align:center;
    background-image:url("#{resource['images/cok_satanlar_bg.png']}");
    margin-top:0;
    line-height:25px;
    color:#FFF0F5;
}
#most_sell li {
    float:left;
    margin-bottom:10px;
    padding-left:5px;
    border:1px solid #FFFFFF;
}
#most_sell li:hover {
    border-color:#696969;
    
}

#most_sell li a img {
    float:left;
}

.kitap_adi_link {
    float:left;
    height:25px;
    width:140px;
    margin-left:10px;
    margin-top:15px;
    text-decoration:none;
    font-size:16px;
    font-family:arial;
    color:#000000;  
}

#most_sell li a:hover {
    text-decoration:underline;
}

#most_sell li span {
    float:left;
    height:25px;
    width:140px;
    margin-left:10px;
    font-family:sans-serif;
    font-size:14px;
    color:#B22222;
}
#sample_div {
    width:720px;
    list-style-type:none;
    height:270px;
    float:left;
    
    margin:2px;
}
li{
   list-style-type:none; 
}

#sample_div li {
    height:40px;
    float:left;
    width:500px;
    margin-bottom:20px;
   
}
#sample_div h3 {
    color:#B22222;
    float:left;
    width:700px;
    margin-left:22%;
}
.inp {
    
    width:200px;
    float:left;
    border-radius:5px;
    height:30px;
    padding-left:4px;
    margin-left:20px;
    
}
.siparis_li {
    width:150px;
    min-height:40px;
    height:auto;
    padding:2px;
    text-align:center;
    font-size:14px;
    font-family:Arial;
    float:left;
    border-right :1px solid white;
    line-height:40px;
}
.siparis_ul {
    width:auto;
    min-height:40px;
    height:auto;
    display:block;
    float:left;
    margin:0px;
    padding:0px;
    line-height:auto;
}
#sample_div2 {
    width:720px;
    list-style-type:none;
    height:270px;
    float:left;
    
    margin:2px;
}

#sample_div2 h3 {
    color:#B22222;
    float:left;
    width:700px;
    margin-left:22%;
}

